body {
background-color: #F4F4F9;
font-family: Arial, Helvetica, sans-serif;
  }

.main-header {
  
  width: 100%;
  background-color: #ffffff;
  
}


.logo-area{
   align-content: center;
}

.logo-area img{
  
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  float: center;
 
}

.icons{
  align-content: center;
  fill: #565454;
 

}

.col-sm-4-right{
  float: right;
}

.icons-left{
float: left;
}

.icons-left img{
  float: left;
  width: 30px;
  height: 30px; 
  } 

.icons-right{
  float: right;
}

.icons-right img{
align-items: center;
height: 30px; 
width: 30px; 
fill: #565454;

}

.icons-navbar{
  color:#565454;
  height: 30px; 
  width: 30px; 
  padding-top: 15px;
  
}

.icons-navbar img{
  color:#565454;
  height: 30px; 
  width: 30px; 
  
}

.col-12-car-image{
margin-bottom: 20px;
padding-bottom: 20px;
}

.menu-3{
  float: right;
}

.vehicle_detail_image{
margin-bottom: 20px;
}
  
.btn-primary{
justify-content: center;
text-align: center;
background-color: #d51317;
vertical-align: middle;
display: flex;

}

h1{
font-size: 28px;
font-family: 'Courier New', Courier, monospace;
color: #2f2e2e;
font-weight: bold 700;

}

h2{
font-size: 26px;
color: #2e3192;
font-family: 'Courier New', Courier, monospace;
font-weight: semi bold;
}

p1{
font-size: 16px; 
color:#565454;
font-family: poppins; 
  
}

.btn{
text-align: center;  
vertical-align: middle; 
justify-content: center;

}

h1, h2, h3, h4 { 
color: #ffffff;
text-align: left;
font-size: 18px;
font-family: "poppins", sans-serif;

}


















