body {
background-color: #F4F4F9;
font-family: Arial, Helvetica, sans-serif;
  }

  
.btn-primary{
justify-content: center;
text-align: center;
background-color: #d51317;
vertical-align: middle;
display: flex;

}


.btn{
text-align: center;  
vertical-align: middle; 
justify-content: center;

}



h1, h2, h3, h4 { 
color: #ffffff;
text-align: left;
font-size: 18px;
font-family: "poppins", sans-serif;

}




p {
font-family: verdana;
color: #565454;
text-align: left;
}

.item-card-price{
  text-align: right;
}



.location{
  text-align: left;
  font-size: 10px;
  color: #565454;
}


.paginationn {
float: right;
align-items: right;
}

.card{
margin-top: 15px;
margin-bottom: 15px;
 

}

.row-cars {
  padding-left: 15px;
}

.card-image-svg{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #565454;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 3px;
}

.card-image-logo{
  background-color: #ffffff;
  float: right;
  position: relative;
  bottom: 20px;
  width: 40px; 
  height: 40px;
  border-radius: 50px; 

}

.bottom-row{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.row-logo{
  padding-left: 15px;
}

.card-image-logo img {
  padding: 8px;
  width: 40px;
  height: 40px; 
}

img {
vertical-align: middle;
 
}

.bi, .bi-camera {
  margin-bottom: 3px;
}

.inner-banner-wrapper{
background-color: #2e3192;
padding: 30px 0; ;
}















