body {

  background-color: #F4F4F9;
  font-family: Arial, Helvetica, sans-serif;
  }


#navbar-example2 a{
  color: #2e3192;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary{
  text-align: center;
  background-color: #d51317;
  vertical-align: middle;
  display: flex;

}

.btn-primary2{
  text-align: center;
  background-color: #d51317;
  vertical-align: middle;
  display: flex;
}

.btn-primary2 {
  text-align: center;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: flex;
}

.btn{
text-align: center;  
vertical-align: middle; 
}

.button-link{
background-color: red;
box-shadow: 4px 4px 4px #999;
font-weight: bold;
font-size: 1.5em;
text-align: center;
vertical-align: middle;
color: white;
}

#footer {
clear: both; 
padding: 10px;
background-color: #565454;
color: #2E3192; 
text-align: right;
}



h1, h2, h3, h4 {
margin: 0;  
color: #ffffff;
text-align: left;
font-size: 18px;
font-family: "poppins", sans-serif;

}

h5 {
  margin: 0;  
  color: #2f2e2e;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  
  }


p {
font-family: verdana;
color: #565454;
text-align: left;

}

.item-card-price{
  text-align: right;
  font-size: 12px;
  color: #242e2e;
  margin-top: -28px;

}

.item-card-describtion{
  text-align: left;
  font-size: 12px;
  color: #565454;
}

.location{
  text-align: left;
  font-size: 10px;
  color: #565454;
}

.iucd-item .iucd-item-img .iucd-item-img-count i {
	font-size: 20px;
	vertical-align: top;
	display: inline-block;
	margin-right: 3px;
}

.la, .lab, .lad, .lal, .lar, .las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

}

.bi-camera{
  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    right: 3px; 
}




*, ::after, ::before {
  box-sizing: border-box;
}

div{
  display: block;
}

img {
  vertical-align: right;
  border-style: none;
  float: right;
}

.svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.card{
position: relative;  
overflow: hidden;
}
  
.item-card-logo {
  
  position: absolute;
  right: 20px;
  
}

.item-card-logo img {
  width: 40px;
  height: 40px;
  padding: 10px;
  float: right;
  margin-bottom: 10px;
  margin-top: 170px;
  
}

.img-fluid{
  float: left;
  max-width: 100%;
  height: auto;
}

img {
  background-color: #ffffff;
  vertical-align: left;
  border-style: none;
  
}

ul li{
color: #565454; 
}

.breadcrumb{
font-size: 10px;  
}



.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
   
   
}

.img-overlay-wrap svg {
  position: relative;
  fill: #ffffff;
  background-color: #565454;
  background-size: 50px 10px;
  border-width: 10px;
  top: -185px;
  bottom: 200px;
  left: 15px;
  right: 0px; 

}

.bi-camera-icon {
  position: relative;
  fill: #ffffff;
  background-color: #565454;
  background-size: contain;
  border-width: 10px;
}

.location-icon {
  width: 10px;
  height: 10px;
  position: relative;
  top: 80px;
  margin-right: 10px;
  fill: #2e3192;
}

.person-fill { 
  width: 10px;
  height: 10px;
  position: relative;
  top: 100px;
  margin-right: 10px;
  fill: #2e3192;
}

.card-body{
  margin-top: -30px;
}












